
.container {
    margin: 5vw 10vw;

    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "t f"
    "v .";
}

.title {
    text-align: center;
    width: 100%;
    color: #3772da;
}

.candidate-div {
    margin: 10px;
    grid-area: f;
}

.vote-div {
    margin-top: 10px;
    grid-area: v;
}

.table-div {
    grid-area: t;
    overflow: auto;
    max-height: 350px;
}


.table {
    width: 100%;

    border: 2px black solid;
    border-collapse: collapse;

    th,
    td {
        border: 1px solid rgb(160 160 160);
        padding: 8px 10px;
    }

    tr {
        text-align: center;
    }
}




.input-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    .input-label {
        margin-bottom: 5px;
    }

    input {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    output {
        width: 100%;
        display: inline-block;
        height: 33px; /* Высота */
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
}

.button {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px 20px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}
.button:disabled:hover {
    background-color: #cccccc;
}

.button:hover {
    background-color: #0b7dda;
}