.nav {
    background-color: #F2F2F2;
    border-radius: 20px;

    height: 500px;
    padding: 20px;
}


.item {

    a {
        color: black;

        text-decoration: none;
    }

    a.active {
        color: #0b7dda;
    }
}
