.app-wrapper {
  display: grid;
  width: 1200px;
  height: 500px;

  margin: 100px auto;

  grid-template-areas: "content" ;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.app-wrapper-content {
  grid-area: content;
  background: #F2F2F2;

  border-radius: 20px;

  padding: 20px;

}

