.record {
    border: 2px #2196F3 solid;
    border-radius: 15px;

    padding: 10px 20px;
    margin: 10px;

    .tag {
        display: block;
        font-weight: bold;
        font-size: 16px;
    }
}